
services:
  # Layanan untuk aplikasi Go
  app:
    build: . # Build image dari Dockerfile di direktori saat ini
    container_name: go-ecommerce-app
    ports:
      - "8080:8080" # Mapping port: <port_di_komputer_anda>:<port_di_dalam_container>
    depends_on:
      - db # Aplikasi akan dimulai setelah database siap
    environment:
      - APP_PORT=8080
      - DB_HOST=db # Gunakan nama service 'db' sebagai host database
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=secret
      - DB_NAME=ecommerce_db
      - JWT_SECRET=rahasiasekali
      - HOST=http://localhost # Host untuk URL gambar
    volumes:
      - ./uploads:/root/uploads # Sinkronisasi folder uploads
    networks:
      - ecommerce-net

  # Layanan untuk database MySQL
  db:
    image: mysql:8.0
    container_name: go-ecommerce-db
    ports:
      - "3307:3306" # Kita pakai port 3307 di luar agar tidak konflik dengan MySQL lokal
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: ecommerce_db
    volumes:
      - mysql-data:/var/lib/mysql # Menyimpan data database secara persisten
    networks:
      - ecommerce-net

# Mendefinisikan network
networks:
  ecommerce-net:
    driver: bridge

# Mendefinisikan volume persisten
volumes:
  mysql-data: